
.h1login{
    margin-bottom:20px!important;
}

.botonlogin{
    margin-bottom:35px!important;
    background-color:#FF5A5F!important;
    text-transform: none!important;
    font-size:1.2em!important;
}

.error{
    color:red!important;
}

.fatherLink{
    margin-bottom:30px!important;
}
.link{
    color:#008489 !important;
    font-size:1.1em!important;

}

