
*{ /* reset settings */
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration:none;
    outline: none;
    box-sizing: border-box;  /*the common values for box-sizing*/
    color:inherit;
}

.mapDivProperties{

    align-content: center;
    justify-content: center;
    padding-bottom: 40px;
    display:inline-block;
    font-size: 16px;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;

}

.subDivProperties {

    border-radius: 4px;

    box-shadow: 0px 3px 28px -7px rgba(0,0,0,0.4);
}
.mis_chozas{

    text-align: center;
    font-size:2em;
    margin: 40px 0px 10px 0px;
}
.servicesDiv{

    padding: 5px;
    margin: 0px 20px 0px 20px;
    float:left;
    display:block
}



.propertyDivTitle span{
    font-size: 1.5em;
    font-weight: bold;
}
.pack-rooms {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
     -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

     font-size: 14px;
     -webkit-font-smoothing: antialiased;
     color: #333333;
     box-sizing: border-box;
     padding: 15px 15px 15px 12px;
    display: inline-grid;

    width:500px;
 }
.cardContent {
display:inline-block;
    width:50%;
}
.m-container {
    padding: 80px 60px;
}

