@font-face {
    font-family: 'Pacifico';

    src: url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

}

*{
    margin: auto;
    padding: 0;
    list-style: none;
    text-decoration: none;
    outline: none;
    box-sizing: border-box;
    color:inherit;


}
#divGeneral{
    background-color: yellow;
    width: 60vh;
    height: 60vh;

}

form{


}

#generalInput {
    width: 50vh;
    height: 40vh;
    display: flex;
    background-color: lightblue;
    border-inline: brown 30px;


}
#individulInput{
    padding-bottom: 20px;
    background-color: lightcyan;
    display: block;
}

#divButton {
    width: 60vh;
    height: 10vh;
    text-align: center;
    background-color: red;
}
#divButton button{
    width: 60vh;
    height: 10vh;
    color:white;
    background-color: transparent;

    border-radius: 2px;
}

#individulInput input{

}
