
*{ /* reset settings */
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration:none;
    outline: none;
    /*the common values for box-sizing*/
    color:inherit;
}

.main_div{
    padding: 30px 70px;
}


.questionsSpan {
    margin-top:25px;
    margin-bottom: 10px;
    box-sizing: border-box;
    overflow-wrap: break-word;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.25em;
    color: rgb(72, 72, 72);
    padding-top: 2px;
    padding-bottom: 2px;

}


.MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary {
    color: #fff;
    background-color: #008489;
    margin: 0px 5px;
}

.MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedSecondary {
    color: #fff;
    background-color: #FF5A5F;
    margin: 0px 5px;
}
.MuiButtonBase-root.MuiFab-root.makeStyles-margin-136.MuiFab-sizeSmall.MuiFab-primary {
    color: #fff;
    background-color: #008489;
}
.MuiButtonBase-root.MuiFab-root.makeStyles-margin-170.MuiFab-sizeSmall.MuiFab-primary {
    color: #fff;
    background-color: #008489;
}
.MuiStepIcon-root.MuiStepIcon-active {
    color: #008489;
}
.MuiStepIcon-root.MuiStepIcon-completed {
    color: #008489;
}
.MuiButtonBase-root {
    color:yellow;
}

.MuiFab-primary {
    color: #008489;
}
.inputfield {
    padding:10px 10px;
    margin:10px 0 20px 0;
    width: 30%;
    height:15px;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    font-size: 16px;
}
.textField{
    padding:10px 10px;
    margin:10px 0 20px 0;
    display: flex;
    width: 30%;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    font-size: 16px;
    color: #484848;
    box-sizing: border-box;
    border: 1px solid darkgrey;
    border-radius: 4px;
}