#header {
  border-bottom: 1px solid lightgray;
}

.intro h1 {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  word-wrap: break-word;
  font-weight: 400;
  color: #484848;
  font-size: 46px;
}

.regedit p {
  margin: 0px;
  word-wrap: break-word;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.375em;
  color: #484848;
  display: inline-block;
}

.editprofile {
  font-size: 16px;
  font-weight: 400;
  display: inline-block;
  padding-left: 12px;
}

.aboutinfo {
  display: flex;
  width: 100%;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  font-size: 16px;
  color: #484848;
  box-sizing: border-box;
  padding: 12px;
  border: 1px solid lightgrey;
  margin-top:10px;
  margin-bottom:15px;
  border-radius: 4px;
}

.aboutinfo:hover {
  border: 2px solid darkgrey;
}

.profilemargin {
  width: 100%;
  float: right;
}
.intro {
  margin-bottom: 40px;
}
#icon {
  margin-right: 20px;
}
.changeform {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  font-size: 14px;
  line-height: 1.43;
  padding: 0px 20px;
  color: #484848;
  width: 50%;
  float: right;
}

.inputfield {
  display: flex;
  height: 40px;
  width: 100%;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  font-size: 16px;
  color: #484848;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 5px 5px;
  border: 1px solid lightgrey;
  border-radius: 4px;
}

.inputfield:hover {
  border: 2px solid darkgrey;
}

.formlabel {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.375em;
  color: #484848;
  margin-bottom: 10px;
  margin: 0px;
  word-wrap: break-word;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  line-height: 1.375em;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  white-space: nowrap;
}

.changebutton,
.cancelbutton {
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
  font-size: 16px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  padding: 10px;
  font-weight: bold;
  background: rgb(0, 132, 137);
  border-color: transparent;
  color: #fff;
  margin: 20px;
  min-width: 90px;
  width: 30%;
}

.profilephoto {
  border-radius: 50%;
  border: 7px solid #fff;
  width: 120px;
  height: 120px;

}
img.profilephoto {
  border-radius: 50%;
  color: rgba(0, 0, 0, 0)
}
img:before {
  content: url(https://a0.muscache.com/defaults/user_pic-225x225.png?v=3) ;
  border-radius: 50%;
  border: 7px solid #fff;
  width: 120px;
  height: 120px;

}
a.photoupdate {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  text-align: left;
  color: #008489;
  font-size: 16px;
  font-weight: 400;
  overflow: visible;

}

.profilephotos {
  border-radius: 50%;
  border: 7px solid #fff;
  width: 59px;
  height: 59px;
}

.profilecontainer1 {
  width: 200px;
  height: 400px;
}

li {
  color: #484848;
}
.formlabel {
  margin: 0px;
  word-wrap: break-word;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.375em;
  color: #484848;
}

#menu ul li:hover {
  border-bottom: 2px solid darkgrey;
  margin-bottom: -10px;
}

.changebutton:hover {
  border: 2px solid darkgrey;
  background-color: #ff5a5f;
}

button.cancelbutton:hover {
  border: 2px solid darkgrey;
  background-color: #ff5a5f;
}

.marginout {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  font-size: 14px;
  line-height: 1.43;
  color: #484848;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  padding: 45px 24px;
  max-width: 1080px;
  height: 1000px;
}

.marginin {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  font-size: 14px;
  line-height: 1.43;
  color: #484848;
  box-sizing: border-box;
  margin: 0px;
}

/* Profilephoto js styles */

.photocellout {
  line-height: 1.43;
  box-sizing: border-box;
  border-radius: 4px;
  margin-right: 8px;
  padding-left: 8px;
  padding-right: 8px;
  min-height: 1px;
  position: relative;
  width: 33.33333333%;
  float: left;
}

.photocellin {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  font-size: 14px;
  line-height: 1.43;
  color: #484848;
  box-sizing: border-box;
  border: 1px solid lightgrey;
  border-radius: 4px;
  padding: 24px;
  text-align: center;
}

.editprofile a {
  box-sizing: border-box;
  font: inherit;
  background: transparent;
  border: 0px;
  cursor: pointer;
  user-select: auto;
  text-align: left;
  color: var(--color-text-link, #008489);
  font-family: var(
    --font-font_family,
    Circular,
    -apple-system,
    BlinkMacSystemFont,
    Roboto,
    Helvetica Neue,
    sans-serif
  );
  text-decoration: var(--font-link-text-decoration, none);
}

.profileform {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  font-size: 16px;
  line-height: 1.43;
  color: #484848;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin: 20px 0px;
  margin: 0px;
  word-wrap: break-word;
  font-size: 16px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  white-space: nowrap;
}
