@font-face {
    font-family: 'Pacifico';

    src: url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    outline: none;
    box-sizing: border-box;
    color:inherit;


}
#footerGeneralDiv {
    margin:auto;
    padding: auto;
    background-color: blue;




}


#FooterLinksGeneral{

    height:40vmin;
    width: 80vmin;
    display: flex;
    text-align: center;




}
ul{

    padding: 0;

}

#C1{
    background-color: lightyellow;




}

#C2{
    background-color: lightsalmon;



}

#C3{
    background-color:lightyellow;


}

#C4{
    background-color:lightblue;


}

li{
    list-style-type: none;

}

a{
    color: #80807c;

}

h4 {
    font-weight: bold;
    color: #5e5e5c;
}

#copyrightSpan {
    background-color: red;


}
#pruebadiv{
    margin: auto

}




/*img:hover{width:500px;height:400px;}
@media (max-width:400px) {
    #FooterLinksGeneral{
        display:none;
    }


}

 */