@font-face {
    font-family: 'Pacifico';

    src: url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

}
#FooterLinksGeneral{
    margin: auto;
    height:40vmin;
    width: 80vmin;
    display: flex;
    text-align: center;



}
ul{

    padding: 0;

}

#C1{
    background-color: lightyellow;




}

#C2{
    background-color: lightsalmon;



}

#C3{
    background-color:lightyellow;


}

#C4{
    background-color:lightblue;


}

li{
    list-style-type: none;

}

a{
    color: #80807c;
    text-decoration-line: none;
}

h4 {
    font-weight: bold;
    color: #5e5e5c;
}
